{{ define "main" }}



<h1>Hello World!</h1>



<p>
Thanks for checking out my website. My name is <b>Krishna Sangeeth</b>, I am a <b>Machine Learning engineer</b>  from Kerala, India. 

I have been working as a freelance engineer/consultant for the past year or so. Below is my career highlights so far. 

- Machine Learning Lead @ Avalara
- Senior Data Scientist @ Ericsson
- ML Engineer @ Indix
- Software Engineer @ TCS 

I hold a Master's degree in Datascience and Engineering from BITS Pilani and a Bachelors Degree in Computer Science Engineering from 
College of Engineering Chengannur.

  

<a href="https://whiletruelearn.github.io/projects/"> Projects</a>
</p>
<p>
<a href="https://twitter.com/whiletruelearn"> Twitter</a> 
</p>


Last Updated : Nov 2024


<br/>




{{ end }}
